* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background: rgba(147,206,222,1);
}
.canvas {
  position: relative;
  top: 15%;
  margin: auto;
  height: 350px;
  width: 350px;
  background: rgba(147,206,222,1);
}
.body {
	position: absolute;
	width: 40%;
	height: 70%;
	background: linear-gradient(to left, rgba(0,127,0,1) 3%, rgba(57,204,57,1) , rgba(71,255,71,1) 38px, rgba(57,204,57,1)  67%, rgba(0,127,0,1) );
	border-radius: 95px 95px 10px 10px;
	z-index: 1;
	top: 20%;
	left: 30%;
}
.body:hover {
	background: linear-gradient(to left, #fd96aa 3%, #fdc996, #fafa61 38px, #96fd96 67%, #96d3fd, #9696fd, #c996fd);
}
.eyes{
  position: absolute;
  width: 4%;
  height: 4%;
  background-color:black;
  box-shadow: 0 0 7px 2px white, 104px 0 0 black, 104px 0 7px 2px white;
  border-radius:100%;
  top: 34%;
  left: 33%;
  z-index: 2;
  animation: frames 3.5s infinite linear;
}
.mouth {
	position: absolute;
	width: 25%;
	height: 7%;
	background: rgba(73,255,73,1);
	border-radius: 85px 85px 85px 85px;
	top: 42%;
	left: 38%;
	z-index: 2;
	box-shadow: 0 0 4px 2px rgba(0,127,0,.7);
}
.line {
	position: absolute;
	width: 15%;
	height: .5%;
	background: rgba(28,63,56,.7);
	z-index: 3;
	top: 45%;
	left: 43%;
}
.ears1 {
	z-index: 0;
	position: absolute;
	width:0;
  	height:0;
  	border-bottom: 50px solid rgba(90,227,50,1);
  	border-left: 30px solid transparent; 
  	border-right: 10px solid transparent;
  	transform: rotate(58deg);
  	top: 29%;
  	left: 24%;
}
.ears2 {
	z-index: 0;
	position: absolute;
	width:0;
  	height:0;
  	border-bottom: 50px solid rgba(90,227,50,1);
  	border-left: 30px solid transparent; 
  	border-right: 10px solid transparent;
  	transform: rotate(100deg);
  	top: 23%;
  	left: 24%;
}
.ears3 {
	z-index: 0;
	position: absolute;
	width:0;
  	height:0;
  	border-bottom: 50px solid rgba(90,227,50,1);
  	border-left: 10px solid transparent; 
  	border-right: 30px solid transparent;
  	transform: rotate(-70deg);
  	top: 29%;
  	left: 62%;
}
.ears4 {
	z-index: 0;
	position: absolute;
	width:0;
  	height:0;
  	border-bottom: 50px solid rgba(90,227,50,1);
  	border-left: 10px solid transparent; 
  	border-right: 30px solid transparent;
  	transform: rotate(-112deg);
  	top: 23%;
  	left: 62%;
}
.curve1 {
	position: absolute;
	top: 21%;
	right: 18%;
	height: 11.3%;
	width: 11.3%;
	border-radius: 50%;
	background: rgba(147,206,222,1);
	z-index: 4;
}
.curve2 {
	position: absolute;
	top: 33.8%;
	right: 17%;
	height: 11.3%;
	width: 11.3%;
	border-radius: 50%;
	background: rgba(147,206,222,1);
	z-index: 4;
}
.curve3 {
	position: absolute;
	top: 35.3%;
	left: 16.5%;
	height: 11.2%;
	width: 11.2%;
	border-radius: 50%;
	background: rgba(147,206,222,1);
	z-index: 4;
}
.curve4 {
	position: absolute;
	top: 22.8%;
	left: 16%;
	height: 11%;
	width: 11%;
	border-radius: 50%;
	background: rgba(147,206,222,1);
	z-index: 4;
}
.water1 {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%; 
	height: 80%;
	border-radius: 50%;
	background:rgba(0,112,183,.5);
	transform: rotate3d(1, 1, 10, 90deg);
}
.circle {
	z-index: 4;
  position: absolute;
  display: block;
  background: white;
  width: 40px;
  height: 40px;
  top: 79.8%;
  left: 28%;
  border-radius: 100%;
  box-shadow: 15px -20px 0 -10px white, 30px 10px 0 2px white, 60px 5px 0 0px white, 85px 10px 0 -1px white, 115px 15px 0 -1px white, -35px 10px 0 -15px white;
}
.circle:after {
  background: white;
  width: 175px;
  height: 60px;
  top: 40%;
  left: 45%;
}



@keyframes frames {
	0% {
    	height: 15px;
 	}
  	3% {
    	height: 1px;
  	}
  	5% {
    	height: 15px;
  	}
  	100% {
    	height: 15px;
  	}
}






